html {
    font-size: 12pt;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 12pt;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    line-height: 1.5em;
    max-width: 170mm;
    /*background-color: #fafa;*/
    margin: 0;
    padding: 0;
}

div.head {
    margin: 0;
    padding: 0;
}

a, a:link, a:visited {
   color: #00007F;
   text-decoration: none;
}

@page {
    size: A4;
    margin: 2cm;
    padding: 0;
}

@media print {
    hr {
        width: 0;
        page-break-after: always;
    }

    .copyright {
        float: bottom page;
    }

    #abstract {
    }

    #abstract h2 {
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 1rem;
    }

    p.element-syntax {
        page-break-inside: avoid;
    }

    pre {
	background: #FCFAEE;
    }

    pre code {
        white-space: pre-wrap;
    }
  
    a.self-link {
        display: none;
    }

    .tocline a {
        text-decoration: none;
        border: none;
    }

    #toc a::after {
        content: leader('.') " " target-counter(attr(href url), page);
    }

    .element-syntax-declare-step       { border: solid thin #7f7f7f; }
    .element-syntax-declare-step-opt   { border: solid thin #7f7f7f; }
    .element-syntax-declare-step-opt   { border: solid thin #7f7f7f; }
    .element-syntax-error-vocabulary   { border: solid thin #7f7f7f; }
    .element-syntax-language-construct { border: solid thin #7f7f7f; }
    .element-syntax-language-example   { border: solid thin #7f7f7f; }
    .element-syntax-other-step         { border: solid thin #7f7f7f; }
    .element-syntax-step-vocabulary    { border: dotted thin #7f7f7f; }
}
