/* ... */

body {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 120%;
    line-height: 1.2;
    font-family: "Noto Serif", "DejaVu Serif", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
}

dt {
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    font-weight: bold;
}

.logo {
    width: 12em;
    padding-left: 2em;
    padding-bottom: 1em;
    float: right;
}

body {
    border-bottom: 2px solid #7a7a7a;
    margin-bottom: 1em;
}

body > div {
    border-top: 2px solid #7a7a7a;
}

.hide {
    display: none;
}

@media (max-width: 414px) {
    body {
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 100%;
        line-height: 1.0;
    }

    .logo {
        width: 6em;
        padding-left: 1em;
        padding-bottom: 0.5em;
    }

    dd {
        margin-left: 20;
    }
}
