/.gradle/
/build/
/buildSrc/.gradle/
/buildSrc/build/
/overview/build/
/step-validation/build/
/step-exec/build/
/step-xquery/build/
/step-xsl-formatter/build/
/step-run/build/
/steps-intro/build/
/steps/build/
/xproc/build/
