/.gradle/
/build/
/buildSrc/.gradle/
/buildSrc/build/
/overview/build/
/step-validate-relax-ng/build/
/step-validate-schematron/build/
/step-validate-xml-schema/build/
/steps-intro/build/
/steps/build/
/xproc/build/
