html {
    font-family: Times New Roman;
}

html > head > title {
    string-set: ArticleTitle content();
}

body > article > header {
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: normal;
    page-break-after: avoid;
    page-break-inside: avoid;
}

.title {
    font-family: sans-serif;
    page-break-after: avoid;
    page-break-inside: avoid;
}

h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
    page-break-before: avoid;
}

dt+dd, dt+dd {
    page-break-before: avoid;
}

table, figure, .admonition, .element-syntax {
    page-break-inside: avoid;
}

.figure-wrapper {
    text-align: center;
    margin-left: 0.25in;
    margin-right: 0.25in;
}

.figure-wrapper div.title {
    margin-top: 0.5em;
    font-weight: bold;
}

.figure {
    border: solid 1pt #808080;
    padding-top: 1em;
    padding-bottom: 1em;
}

.informalfigure-wrapper {
    text-align: center;
    margin-left: 0.25in;
    margin-right: 0.25in;
}

.rfc2119 {
    font-weight: bold;
}

.admonition {
    margin-left: 0.5in;
    margin-right: 0.5in;
    border: solid 1px #AAAAAA;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.admonition h3 {
    font-size: inherit;
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.admonition-body { 
    padding-left: 1rem;
    padding-right: 1rem;
}

.editorial {
    background-color: #FAFAAA;
}

.element-syntax                    { padding: 2px; }
.element-syntax-declare-step       { border: solid thin;  background-color: #ffeeff }
.element-syntax-declare-step-opt   { border: solid thin; background-color: #ffeeff }
.element-syntax-declare-step-opt   { border: solid thin; background-color: #ffeeff }
.element-syntax-error-vocabulary   { border: solid thin;  background-color: #ffffee }
.element-syntax-language-construct { border: solid thin;  background-color: #ffeeff }
.element-syntax-language-example   { border: solid thin;  background-color: #ffeeff }
.element-syntax-other-step         { border: solid thin;  background-color: #ffeeff }
.element-syntax-step-vocabulary    { border: dotted thin; background-color: #ffffee }

body > article > header h1,
body > article > header h2,
body > article > header h3,
body > article > header h4,
body > article > header h5,
body > article > header h6 {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

body > article > section,
body > article > article {
    page-break-before: always;
}

body > article > section h2,
body > article > article h2 {
    string-set: SectionTitle content();
}

header .abstract {
    margin-left: 0.5in;
    margin-right: 0.5in;
    font-size: 90%;
}

header .abstract p {
    margin: 0;
}

header .abstract p+p {
    margin-top: 0.5em;
}

@page {
    size: A4;

    @top-left {
        border-bottom: 1px solid black;
        height: 1in;
        vertical-align: bottom;
    }
    @top-center {
        border-bottom: 1px solid black;
        height: 1in;
        vertical-align: bottom;
        content: string(ArticleTitle);
    }
    @top-right {
        vertical-align: bottom;
        height: 1in;
        vertical-align: bottom;
        border-bottom: 1px solid black;
    }
}

@page :left {
    @bottom-left {
        content: counter(page);
        border-top: 1px solid black;
        vertical-align: top;
        height: 1in;
    }
    @bottom-center {
        vertical-align: top;
        height: 1in;
        border-top: 1px solid black;
    }
    @bottom-right {
        content: string(SectionTitle);
        border-top: 1px solid black;
        vertical-align: top;
        height: 1in;
    }
}

@page :right {
    @bottom-left {
        content: string(SectionTitle);
        border-top: 1px solid black;
        vertical-align: top;
        height: 1in;
    }
    @bottom-center {
        vertical-align: top;
        height: 1in;
        border-top: 1px solid black;
    }
    @bottom-right {
        content: counter(page);
        border-top: 1px solid black;
        vertical-align: top;
        height: 1in;
    }
}

@page :first {
    @top-left {
        border-bottom: none;
        background-color: transparent;
    }
    @top-center {
        border-bottom: none;
        background-color: transparent;
        content: none;
    }
    @top-right {
        border-bottom: none;
        background-color: transparent;
    }

    @bottom-left {
        content: none;
        border-top: none;
        background-color: transparent;
    }
    @bottom-center {
        border-top: none;
        background-color: transparent;
        content: none;
    }
    @bottom-right {
        content: none;
        border-top: none;
        background-color: transparent;
    }
}

.lists-of-titles {
    display: none;
}

body > article > .lists-of-titles {
    page-break-before: always;
    page-break-after: always;
    display: block;
}

.toc .title {
    font-family: sans-serif;
}

div.toc > ul.toc {
    margin-top: 0.5em;
}

ul.toc {
    list-style-type: none;
    padding-left: 0;
}

ul.toc ul.toc {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

ul.toc ul {
    padding-left: 3em;
}

ul.toc a {
    text-decoration: none;
    color: inherit;
}

ul.toc a .label {
    display: inline-block;
    width: 3em;
}

ul.toc a::after {
    content: leader('.') target-counter(attr(href), page);
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

img {
    max-height: 50%;
    max-width: 50%;
    text-align: center;
}
