html {
    font-size: 16pt;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

body {
    font-size: 16pt;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    line-height: 1.5em;
}

a, a:link, a:visited {
   color: #00007F;
   text-decoration: none;
}
