dl.toc             { margin-top: 0;
                     margin-bottom: 0
}

dl.toc dt          { font-weight: normal;
                   }

dl.errs dt         { font-weight: normal;
                   }

.figure-wrapper { text-align: center;
                     margin-left: 0.25in;
                     margin-right: 0.25in;
                   }
div.figure         { border: solid 1pt #808080;
                     padding-top: 1em;
		     padding-bottom: 1em;
                   }

.figure-wrapper
div.title          { margin-top: 0.5em;
                     font-weight: bold;
                   }

.informalfigure-wrapper { text-align: center;
                     margin-left: 0.25in;
                     margin-right: 0.25in;
                   }

/*
div.example-wrapper { border: solid #aaaaaa 1pt;
                    }

div.example-wrapper
div.title           { margin-top: 0.5em;
                      font-weight: bold;
		      margin-left: 1ex;
                    }
*/

.rfc2119           { font-weight: bold;
                   }

div.editorial      { margin-left: 40px;
                     margin-right: 40px;
		     border: solid 1px #AAAAAA;
		     padding: 1ex;
		   }

div.admonition     { margin-left: 40px;
                     margin-right: 40px;
		     border: solid 1px #AAAAAA;
		     padding: 1ex;
		   }

div.admonition h3  { background-color: #DDDDDD;
                     color: black;
                     margin: 0px;
		     padding-top: 0px;
		     padding-bottom: 0px;
		     padding-left: 10px;
		     padding-right: 0px;
                   }

div.editorial 
div.admon-title    { background-color: #FF9999;
                   }

.element-syntax p { padding: 0px; margin: 0px; }
.element-syntax                    { padding: 4px; }
.element-syntax-declare-step-rqd   { border: solid thin;  background-color: #ffeeff }
.element-syntax-declare-step-opt   { border: dashed thin; background-color: #ffeeff }
.element-syntax-error-vocabulary   { border: solid thin;  background-color: #ffffee }
.element-syntax-language-construct { border: solid thin;  background-color: #ffeeff }
.element-syntax-language-example   { border: solid thin;  background-color: #ffeeff }
.element-syntax-other-step         { border: solid thin;  background-color: #ffeeff }
.element-syntax-step-vocabulary    { border: dotted thin; background-color: #ffffee }

div.funcsynopsis {
  background-color: #D5DEE3;
  border-bottom: 4px double #D3D3D3;
  border-top: 4px double #D3D3D3;
  color: black;
  margin-bottom: 4px;
  padding: 4px;
  font-family: monospace;
}

span.funcname {
  font-weight: bold;
}

div.funcsynopsis span.type {
  font-style: italic;
}

span.decl code.type-value { font-weight: bold; }
span.opt-req code.name-value { font-weight: bold; }

span.opt-type { font-size: small; font-style: italic; }
code.comment  { font-style: italic; }

.revision-inherited {
                    }

.revision-deleted   { background-color: #FF9999;
                      text-decoration: line-through;
                    }

.revision-added     { background-color: #FFFF99;
                    }

.revision-changed   { background-color: #99FF99;
                    }

a.difflink {
  text-decoration: none;
}

div.diffpara p a.difflink {
  display: none;
}

div:hover.diffpara p a.difflink,
a:hover.difflink {
  display: inline;
}

.hanging-indent {
  padding-left: 1.25in !important; 
  text-indent: -1.25in;
}

/* Not for us; we don't want h6 to be smallcaps! */
h6 { font: italic 100% sans-serif }

sup.xrefspec {
   font-size: 70%;
   color: #999999;
}

sup.xrefspec a,
sup.xrefspec a:visited {
   color: #999999;
   text-decoration: none;
}
