html {
    page: spec;
}

div.head {
    max-width: 170mm;
}

div.lists-of-titles {
    max-width: 160mm;
}

div.lists-of-titles h2 {
    margin-top: 0;
    padding-top: 0;
}

#sotd {
    counter-reset: page 1;
}

#sotd h2,
#introduction h2,
#abstract h2 {
    margin-top: 0;
    padding-top: 0;
}

#abstract {
    font-size: 90%;
    line-height: 125%;
}

section,
article {
    max-width: 160mm;
}

@page spec {
    size: A4;
    margin: 2cm;
    padding: 0;
    margin-bottom: 3cm;
    margin-top: 3cm;
}

@page spec:right {
    margin-left: 3cm;
    @top-right {
        content: string(title);
    }
    @bottom-right {
        content: counter(page);
    }
}

@page spec:left {
    margin-right: 3cm;
    @top-left {
        content: string(title);
    }
    @bottom-left {
        content: counter(page);
    }
}

@page spec:first {
    border: solid thin black;
    border-radius: 0.5cm;
    margin: 1cm;
    padding-left: 1cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
    padding-right: 0;
    @top-right {
        content: none;
    }
    @top-left {
        content: none;
    }
    @bottom-right {
        content: none;
    }
    @bottom-left {
        content: none;
    }
}

html {
    font-size: 12pt;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 12pt;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    line-height: 1.5em;
    /*background-color: #fafa;*/
    margin: 0;
    padding: 0;
}

div.head {
    margin: 0;
    padding: 0;
}

a, a:link, a:visited {
   color: #00007F;
   text-decoration: none;
}

h2 {
    string-set: title content();
}

@page blank {
    @top-right {
        content: none;
    }
    @top-left {
        content: none;
    }
    @bottom-right {
        content: none;
    }
    @bottom-left {
        content: none;
    }
}

@media print {
    hr {
        page: blank;
        width: 0;
        page-break-before: always;
        page-break-after: always;
    }

    div.lists-of-titles {
        page-break-before: always;
        page-break-after: always;
    }

    .copyright {
        float: bottom page;
        max-width: 170mm;
    }

    #abstract {
    }

    #abstract h2 {
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 1rem;
    }

    p.element-syntax {
        page-break-inside: avoid;
    }

    pre {
	background: #FCFAEE;
    }

    pre code {
        white-space: pre-wrap;
    }
  
    a.self-link {
        display: none;
    }

    .tocline a {
        text-decoration: none;
        border: none;
    }

    #toc a::after {
        content: leader('.') " " target-counter(attr(href url), page);
    }

    .element-syntax-declare-step       { border: solid thin #7f7f7f; }
    .element-syntax-declare-step-opt   { border: solid thin #7f7f7f; }
    .element-syntax-declare-step-opt   { border: solid thin #7f7f7f; }
    .element-syntax-error-vocabulary   { border: solid thin #7f7f7f; }
    .element-syntax-language-construct { border: solid thin #7f7f7f; }
    .element-syntax-language-example   { border: solid thin #7f7f7f; }
    .element-syntax-other-step         { border: solid thin #7f7f7f; }
    .element-syntax-step-vocabulary    { border: dotted thin #7f7f7f; }
}
